<launch>
    <!-- Gazebo simulation -->
	<include file="$(find panda_simulation)/launch/simulation.launch" />

	<!-- apple detector -->
	<include file="$(find dodo_detector_ros)/launch/detect_kinect.launch" />

	<!-- trajectory planning -->
	<node pkg="panda_control" type="panda_control" name="panda_control" output="screen" />

	<!-- impedance control -->
	<node pkg="impedance_control" type="impedance_control_node" name = "impedance_control_node" output="screen" />
</launch>
